.ss-agree-term-preview {
  margin-bottom: 10px;
}

.ss-agree-term-preview__header {
  margin-bottom: 0;
}

.ss-agree-term-preview__link-comment {
  margin-right: 8px;
}

.ss-agree-term-preview__url-comment {
  margin-left: 8px;
}
