.push-message-option{
    display: flex;
}
.push-message-option-item{
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
}
.push-message-btn-search{
    padding: 10px 25px;
    border: none;
    color:white;
    font-weight: 600;
    border-radius: 10px;
    background-color: #57c8f0;
}
.span_end{
    width: 2%;
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
}
.push-message-btn-adddition{
    border: none;
    font-weight: 500;
    padding: 10px 35px;
    color: white;
    background-color: #51cbce;
    border-radius: 5px;
}
.push-message-{
    width: 80%;
    margin: 2% 10%;
    display: flex;
}
/* Payment-Gateway-CSS */
.payment-gatway-btn-add-gateway{
    padding:10px 70px;
    background-color: #57c8f1;
    color: white;
    border: none;
    border-radius: 10px;
}
.payment-gatway-btn-edit{
    margin-right: 15px;
    width: 70px;
    border:none;
    background-color: #57c8f0;
    border-radius: 5px;
    color:white;
    padding:10px 10px
}
/* Add-Payment-Gateway-CSS */
.push-message-add-form{
    width: 100%;
    /* margin: 2% 10%; */
    display: flex;
}
.push-message-span-form{
    width:20%;
    text-align: right;
    margin-right: 2.5%;
}
.push-message-input-form{
    width: 70%;
    text-align: left;
    height: 40px;
}
.add-payment-gateway-btn-return{
    padding: 10px 30px;
    color: white;
    background-color: #c7cbd6;
    border: none;
    width: 120px;
    margin-right: 10px;
    border-radius: 5px;
}
.add-payment-gateway-btn-save{
    padding: 10px 30px;
    color: white;
    background-color: #57c8f0;
    border: none;
    width: 120px;
    margin-right: 10px;
    border-radius: 5px;
}