.btn{
    margin-right: 15px;
}
.variable-note{
    margin: 20px 0;
}
.form__head{
    display: flex;
}
.form__head label:first-child{
    width: 30%;
    margin-right: 15px;
}
.form__head label:last-child{
    width: 50%;
}
.form__variable-group{
    display: flex;
}
.form__variable-name{
    width: 30%;
    margin-right: 15px;
    border: 1px solid #7186a0;
    border-radius: 3px;
    padding: 10px 18px;
}
.form__variable-value{
    width: 50%;
    margin-right: 10px;
    border: 1px solid #7186a0;
    border-radius: 3px;
    padding: 10px 18px;
}
.form__variable-delete{
    margin-top: 10px;
}
