.btnActionStyle {
    margin-left: 10px;
    margin-right: 10px;
}

.table .btn {
    margin-left: 10px;
    margin-right: 10px;
}

.editBtn {
    background-color: green;
    /* color: black; */
}

.deleteBtn {
    background-color: red;
    /* color: black; */
}

.div_left {
    width: 50%;
    float: left;
}

.div_right {
    width: 50%;
    float: right;
    text-align: right;
}
.cardBody{
    overflow:hidden;
}
.actionList{
    width: 370px;
    min-width: 370px;
}
.label-input{
    width: 100%;
    float: left;
}
.input-field {
    width: 70%;
    float: right;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }