.ss-contact-form-setting__fields-grid {
  display: grid;
  grid-template-columns: 1fr 56px 56px;
  align-items: center;
  column-gap: 8px;
  row-gap: 8px;
  width: 100%;
}

.ss-contact-form-setting__fields-header {
  font-size: 12px;
  color: #767676;
  display: flex;
  justify-content: center;
}

.ss-contact-form-setting__fields-cell {
  display: flex;
  justify-content: center;
}
