.ss-product-purchase-setting__type-row {
  width: 49%;
}

.ss-product-purchase-setting__options-panel {
  width: 90%;
}

.ss-product-purchase-setting__product-container--spaced {
  margin-bottom: 10px;
}

.ss-product-purchase-setting__add-btn {
  margin: 0;
  background-color: #327aed;
  text-transform: lowercase;
}

.ss-product-purchase-setting__add-wrap {
  width: 90%;
}

.ss-product-purchase-setting__default-option-panel {
  width: 90%;
  padding: 5px;
}

.ss-product-purchase-setting__default-option-input {
  width: 60%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.ss-product-purchase-setting__drag-item {
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

.ss-product-purchase-setting__add-icon-row {
  display: flex;
  justify-content: flex-end;
}

.ss-product-purchase-setting__shopify-icon {
  cursor: default;
}

.ss-product-purchase-preview__wrapper {
  margin-bottom: 10px;
}

.ss-product-purchase-setting__checkbox-col {
  display: flex;
  justify-content: flex-start;
}

.ss-product-purchase-setting__require-row {
  margin-bottom: 0;
}

.ss-product-purchase-setting__half-col {
  width: 50%;
}

.ss-product-purchase-input-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ss-product-purchase-input-middle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 0;
  border-right: 0;
}

.ss-product-purchase-input-price {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  width: 78%;
}

.ss-product-purchase-quantity-limit {
  margin-left: 0;
  width: 50%;
}
